.cube-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  perspective: 99999px;
  transform-origin: bottom left;
}

.cube-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dee5e1;
  overflow: hidden;
  transform-origin: bottom left;
}

.cube {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 15s linear infinite;
}

.cube > .side {
  position: absolute;
  width: 200px;
  height: 200px;
}

.side.front {
  transform: translateZ(100px);
}
.side.back {
  transform: translateZ(-100px);
}
.side.top {
  transform: translateY(-100px) rotateX(90deg);
}
.side.bottom {
  transform: translateY(100px) rotateX(90deg);
}
.side.right {
  transform: translateX(100px) rotateY(90deg);
}
.side.left {
  transform: translateX(-100px) rotateY(90deg);
}

.color > .front,
.color > .back {
  background: #fb4e9b;
}

.color > .top,
.color > .bottom {
  background: #9448e4;
}

.color > .left,
.color > .right {
  background: #ff9557;
}

.skeleton > .side {
  border: solid thin #999;
}

.center {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 50px;
  height: 50px;
  border-radius: 50% 50%;
  background: radial-gradient(circle at 15px 15px, #ef5443, #c83c30);
  animation: reverse-rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotateY(45deg) rotate3d(-1, 0, 1, 54.7deg)
      rotate3d(1, 1, 1, 0deg);
  }
  100% {
    transform: rotateY(45deg) rotate3d(-1, 0, 1, 54.7deg)
      rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes reverse-rotate {
  0% {
    transform: rotateY(-45deg) rotateZ(-54.7deg) rotateY(0deg);
  }
  100% {
    transform: rotateY(-45deg) rotateZ(-54.7deg) rotateY(-360deg);
  }
}
