.intro-title {
  position: fixed;
  top: 40vh;
  left: 50vw;

  width: 400vw;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -200vw;

  font-family: 'Roboto', sans-serif;
  font-size: 12vmin;
  text-align: center;

  mix-blend-mode: multiply;

  z-index: 1;

  will-change: opacity;
}
