.intro-title {
  position: fixed;
  top: 40%;
  left: 50%;

  width: 200%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -100%;

  font-family: 'Roboto', sans-serif;
  font-size: 12vmin;
  text-align: center;

  mix-blend-mode: multiply;

  z-index: 1;
}

.intro-text {
  position: fixed;
  text-align: center;
}
