.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  will-change: transform;
  transform: translateZ(0);
}

.loader {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: powderblue;
  stroke-width: 10px;
}
