.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  will-change: transform;
  transform: translateZ(0);
}

.loader {
  width: 100%;
  height: 100%;
  fill: transparent;
  /* stroke: powderblue; */
  stroke: red;
  stroke-width: 10px;
}
